<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="yellow">

 <form action="/emp/save/" method="post">
        Emp Id : <input type="text" name="eid" value=""> <br><br>
        Emp Name : <input type="text" name="enm" value=""> <br><br>
        Emp Age : <input type="text" name="eag" value=""> <br><br>
        Emp Email : <input type="text" name="eml" value=""> <br><br>
        Emp Role : <input type="text" name="erl" value=""> <br><br>
        Emp Salary : <input type="text" name="esa" value=""> <br><br>
        <input type="submit">
    </form>

</body>
</html>